@import "~@angular/material/theming";

@include mat-core();
$custom-typography: mat-typography-config(
  $font-family: '"Roboto", sans-serif;',
);
@include mat-core($custom-typography);


$mat-app-primary: mat-palette($mat-blue, A700);
$mat-app-accent: mat-palette($mat-pink, A200, A100, A400);
$mat-app-warn: mat-palette($mat-red);


$mat-app-theme: mat-light-theme(
  (
    color: (
      primary: $mat-app-primary,
      accent: $mat-app-accent,
      warn: $mat-app-warn,
    ),
  )
);


@include angular-material-theme($mat-app-theme);
